/*
:root {
  --vscode-font-family: "Segoe WPC", "Segoe UI", sans-serif;
  --vscode-font-weight: normal;
  --vscode-font-size: 13px;
  --vscode-editor-font-family: "Fira Code", Comic Sans MS;
  --vscode-editor-font-weight: normal;
  --vscode-editor-font-size: 13px;
  --text-link-decoration: none;
  --vscode-foreground: #a89984;
  --vscode-disabledForeground: rgba(204, 204, 204, 0.5);
  --vscode-errorForeground: #ea6962;
  --vscode-descriptionForeground: #928374;
  --vscode-icon-foreground: #89b482;
  --vscode-focusBorder: rgba(69, 64, 61, 0);
  --vscode-selection-background: rgba(80, 73, 69, 0.82);
  --vscode-textLink-foreground: #a9b665;
  --vscode-textLink-activeForeground: #8f9a52;
  --vscode-textSeparator-foreground: rgba(255, 255, 255, 0.18);
  --vscode-textPreformat-foreground: #d8a657;
  --vscode-textPreformat-background: rgba(255, 255, 255, 0.1);
  --vscode-textBlockQuote-background: #32302f;
  --vscode-textBlockQuote-border: #a89984;
  --vscode-textCodeBlock-background: #32302f;
  --vscode-sash-hoverBorder: #7c6f64;
  --vscode-badge-background: #a89984;
  --vscode-badge-foreground: #292828;
  --vscode-activityWarningBadge-foreground: #000000;
  --vscode-activityWarningBadge-background: #cca700;
  --vscode-activityErrorBadge-foreground: #000000;
  --vscode-activityErrorBadge-background: #f14c4c;
  --vscode-scrollbar-shadow: rgba(0, 0, 0, 0.44);
  --vscode-scrollbarSlider-background: rgba(124, 111, 100, 0.5);
  --vscode-scrollbarSlider-hoverBackground: #7c6f64;
  --vscode-scrollbarSlider-activeBackground: #a89984;
  --vscode-progressBar-background: #a9b665;
  --vscode-chart-line: #236b8e;
  --vscode-chart-axis: rgba(191, 191, 191, 0.4);
  --vscode-chart-guide: rgba(191, 191, 191, 0.2);
  --vscode-editor-background: #292828;
  --vscode-editor-foreground: #d4be98;
  --vscode-editorStickyScroll-background: #292828;
  --vscode-editorStickyScrollGutter-background: #292828;
  --vscode-editorStickyScrollHover-background: #2a2d2e;
  --vscode-editorStickyScroll-shadow: rgba(0, 0, 0, 0.44);
  --vscode-editorWidget-background: #292828;
  --vscode-editorWidget-foreground: #d4be98;
  --vscode-editorWidget-border: #7c6f64;
  --vscode-editorError-background: rgba(184, 86, 81, 0);
  --vscode-editorError-foreground: #b85651;
  --vscode-editorWarning-background: rgba(193, 143, 65, 0);
  --vscode-editorWarning-foreground: #c18f41;
  --vscode-editorInfo-background: rgba(104, 148, 138, 0);
  --vscode-editorInfo-foreground: #68948a;
  --vscode-editorHint-foreground: #ab6c7d;
  --vscode-editorLink-activeForeground: #a9b665;
  --vscode-editor-selectionBackground: rgba(80, 73, 69, 0.69);
  --vscode-editor-inactiveSelectionBackground: rgba(80, 73, 69, 0.34);
  --vscode-editor-selectionHighlightBackground: rgba(80, 73, 69, 0.34);
  --vscode-editor-compositionBorder: #ffffff;
  --vscode-editor-findMatchBackground: rgba(189, 111, 62, 0.25);
  --vscode-editor-findMatchHighlightBackground: rgba(143, 154, 82, 0.25);
  --vscode-editor-findRangeHighlightBackground: rgba(80, 73, 69, 0.34);
  --vscode-editor-hoverHighlightBackground: rgba(80, 73, 69, 0.69);
  --vscode-editorHoverWidget-background: #32302f;
  --vscode-editorHoverWidget-foreground: #d4be98;
  --vscode-editorHoverWidget-border: #504945;
  --vscode-editorHoverWidget-statusBarBackground: #3c3a38;
  --vscode-editorInlayHint-foreground: #7c6f64;
  --vscode-editorInlayHint-background: rgba(41, 40, 40, 0);
  --vscode-editorInlayHint-typeForeground: #7c6f64;
  --vscode-editorInlayHint-typeBackground: rgba(41, 40, 40, 0);
  --vscode-editorInlayHint-parameterForeground: #7c6f64;
  --vscode-editorInlayHint-parameterBackground: rgba(41, 40, 40, 0);
  --vscode-editorLightBulb-foreground: #d8a657;
  --vscode-editorLightBulbAutoFix-foreground: #89b482;
  --vscode-editorLightBulbAi-foreground: #d8a657;
  --vscode-editor-snippetTabstopHighlightBackground: rgba(69, 64, 61, 0.63);
  --vscode-editor-snippetFinalTabstopHighlightBackground: rgba(143, 154, 82, 0.25);
  --vscode-editor-snippetFinalTabstopHighlightBorder: #292828;
  --vscode-diffEditor-insertedTextBackground: rgba(114, 150, 108, 0.25);
  --vscode-diffEditor-removedTextBackground: rgba(184, 86, 81, 0.25);
  --vscode-diffEditor-insertedLineBackground: rgba(155, 185, 85, 0.2);
  --vscode-diffEditor-removedLineBackground: rgba(255, 0, 0, 0.2);
  --vscode-diffEditor-diagonalFill: #504945;
  --vscode-diffEditor-unchangedRegionBackground: #292828;
  --vscode-diffEditor-unchangedRegionForeground: #a89984;
  --vscode-diffEditor-unchangedCodeBackground: rgba(116, 116, 116, 0.16);
  --vscode-widget-shadow: rgba(0, 0, 0, 0.44);
  --vscode-toolbar-hoverBackground: #383432;
  --vscode-toolbar-activeBackground: #3e3937;
  --vscode-breadcrumb-foreground: #928374;
  --vscode-breadcrumb-background: #292828;
  --vscode-breadcrumb-focusForeground: #ddc7a1;
  --vscode-breadcrumb-activeSelectionForeground: #d4be98;
  --vscode-breadcrumbPicker-background: #292828;
  --vscode-merge-currentHeaderBackground: rgba(104, 148, 138, 0.5);
  --vscode-merge-currentContentBackground: rgba(104, 148, 138, 0.25);
  --vscode-merge-incomingHeaderBackground: rgba(114, 150, 108, 0.5);
  --vscode-merge-incomingContentBackground: rgba(114, 150, 108, 0.25);
  --vscode-merge-commonHeaderBackground: rgba(96, 96, 96, 0.4);
  --vscode-merge-commonContentBackground: rgba(96, 96, 96, 0.16);
  --vscode-merge-border: rgba(41, 40, 40, 0);
  --vscode-editorOverviewRuler-currentContentForeground: #68948a;
  --vscode-editorOverviewRuler-incomingContentForeground: #72966c;
  --vscode-editorOverviewRuler-commonContentForeground: #928374;
  --vscode-editorOverviewRuler-findMatchForeground: #72966c;
  --vscode-editorOverviewRuler-selectionHighlightForeground: #72966c;
  --vscode-problemsErrorIcon-foreground: #ea6962;
  --vscode-problemsWarningIcon-foreground: #d8a657;
  --vscode-problemsInfoIcon-foreground: #7daea3;
  --vscode-minimap-findMatchHighlight: rgba(114, 150, 108, 0.38);
  --vscode-minimap-selectionOccurrenceHighlight: #676767;
  --vscode-minimap-selectionHighlight: rgba(80, 73, 69, 0.94);
  --vscode-minimap-infoHighlight: #68948a;
  --vscode-minimap-warningHighlight: rgba(193, 143, 65, 0.5);
  --vscode-minimap-errorHighlight: rgba(184, 86, 81, 0.5);
  --vscode-minimap-foregroundOpacity: #000000;
  --vscode-minimapSlider-background: rgba(124, 111, 100, 0.25);
  --vscode-minimapSlider-hoverBackground: rgba(124, 111, 100, 0.5);
  --vscode-minimapSlider-activeBackground: rgba(168, 153, 132, 0.5);
  --vscode-charts-foreground: #d4be98;
  --vscode-charts-lines: rgba(168, 153, 132, 0.5);
  --vscode-charts-red: #ea6962;
  --vscode-charts-blue: #7daea3;
  --vscode-charts-yellow: #d8a657;
  --vscode-charts-orange: #e78a4e;
  --vscode-charts-green: #a9b665;
  --vscode-charts-purple: #d3869b;
  --vscode-input-background: rgba(41, 40, 40, 0);
  --vscode-input-foreground: #d4be98;
  --vscode-input-border: #45403d;
  --vscode-inputOption-activeBorder: #89b482;
  --vscode-inputOption-hoverBackground: rgba(90, 93, 94, 0.5);
  --vscode-inputOption-activeBackground: rgba(69, 64, 61, 0);
  --vscode-inputOption-activeForeground: #ffffff;
  --vscode-input-placeholderForeground: #7c6f64;
  --vscode-inputValidation-infoBackground: #68948a;
  --vscode-inputValidation-infoForeground: #d4be98;
  --vscode-inputValidation-infoBorder: #7daea3;
  --vscode-inputValidation-warningBackground: #c18f41;
  --vscode-inputValidation-warningForeground: #d4be98;
  --vscode-inputValidation-warningBorder: #d8a657;
  --vscode-inputValidation-errorBackground: #b85651;
  --vscode-inputValidation-errorForeground: #d4be98;
  --vscode-inputValidation-errorBorder: #ea6962;
  --vscode-dropdown-background: #292828;
  --vscode-dropdown-foreground: #a89984;
  --vscode-dropdown-border: #45403d;
  --vscode-button-foreground: #292828;
  --vscode-button-separator: rgba(41, 40, 40, 0.4);
  --vscode-button-background: #a89984;
  --vscode-button-hoverBackground: #928374;
  --vscode-button-secondaryForeground: #d4be98;
  --vscode-button-secondaryBackground: #3c3836;
  --vscode-button-secondaryHoverBackground: #45403d;
  --vscode-radio-activeForeground: #ffffff;
  --vscode-radio-activeBackground: rgba(69, 64, 61, 0);
  --vscode-radio-activeBorder: #89b482;
  --vscode-radio-inactiveBorder: rgba(255, 255, 255, 0.2);
  --vscode-radio-inactiveHoverBackground: rgba(90, 93, 94, 0.5);
  --vscode-checkbox-background: #292828;
  --vscode-checkbox-selectBackground: #292828;
  --vscode-checkbox-foreground: #e78a4e;
  --vscode-checkbox-border: #5a524c;
  --vscode-checkbox-selectBorder: #89b482;
  --vscode-checkbox-disabled\.background: #674834;
  --vscode-checkbox-disabled\.foreground: #a86941;
  --vscode-keybindingLabel-background: rgba(41, 40, 40, 0);
  --vscode-keybindingLabel-foreground: #d4be98;
  --vscode-keybindingLabel-border: #1c1c1c;
  --vscode-keybindingLabel-bottomBorder: #101010;
  --vscode-list-focusBackground: rgba(69, 64, 61, 0.38);
  --vscode-list-focusForeground: #d4be98;
  --vscode-list-focusOutline: rgba(69, 64, 61, 0);
  --vscode-list-activeSelectionBackground: rgba(69, 64, 61, 0.38);
  --vscode-list-activeSelectionForeground: #d4be98;
  --vscode-list-inactiveSelectionBackground: rgba(69, 64, 61, 0.28);
  --vscode-list-inactiveSelectionForeground: #a89984;
  --vscode-list-inactiveFocusBackground: rgba(69, 64, 61, 0.28);
  --vscode-list-hoverBackground: rgba(41, 40, 40, 0);
  --vscode-list-hoverForeground: #d4be98;
  --vscode-list-dropBackground: rgba(50, 48, 47, 0.5);
  --vscode-list-dropBetweenBackground: #89b482;
  --vscode-list-highlightForeground: #a9b665;
  --vscode-list-focusHighlightForeground: #a9b665;
  --vscode-list-invalidItemForeground: #b85651;
  --vscode-list-errorForeground: #ea6962;
  --vscode-list-warningForeground: #d8a657;
  --vscode-listFilterWidget-background: #292828;
  --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
  --vscode-listFilterWidget-noMatchesOutline: #be1100;
  --vscode-listFilterWidget-shadow: rgba(0, 0, 0, 0.44);
  --vscode-list-filterMatchBackground: rgba(143, 154, 82, 0.25);
  --vscode-list-deemphasizedForeground: #8c8c8c;
  --vscode-tree-indentGuidesStroke: #7c6f64;
  --vscode-tree-inactiveIndentGuidesStroke: rgba(124, 111, 100, 0.4);
  --vscode-tree-tableColumnsBorder: rgba(204, 204, 204, 0.13);
  --vscode-tree-tableOddRowsBackground: rgba(168, 153, 132, 0.04);
  --vscode-editorActionList-background: #292828;
  --vscode-editorActionList-foreground: #d4be98;
  --vscode-editorActionList-focusForeground: #d4be98;
  --vscode-editorActionList-focusBackground: rgba(69, 64, 61, 0.38);
  --vscode-menu-foreground: #a89984;
  --vscode-menu-background: #292828;
  --vscode-menu-selectionForeground: #d4be98;
  --vscode-menu-selectionBackground: #32302f;
  --vscode-menu-separatorBackground: #606060;
  --vscode-quickInput-background: #292828;
  --vscode-quickInput-foreground: #d4be98;
  --vscode-quickInputTitle-background: #3c3836;
  --vscode-pickerGroup-foreground: #d4be98;
  --vscode-pickerGroup-border: rgba(221, 199, 161, 0.1);
  --vscode-quickInputList-focusForeground: #d4be98;
  --vscode-quickInputList-focusBackground: rgba(69, 64, 61, 0.38);
  --vscode-search-resultsInfoForeground: rgba(168, 153, 132, 0.65);
  --vscode-searchEditor-findMatchBackground: rgba(143, 154, 82, 0.17);
  --vscode-editor-lineHighlightBackground: rgba(56, 52, 50, 0.56);
  --vscode-editor-lineHighlightBorder: rgba(69, 64, 61, 0);
  --vscode-editor-rangeHighlightBackground: rgba(56, 52, 50, 0.5);
  --vscode-editor-symbolHighlightBackground: rgba(104, 148, 138, 0.25);
  --vscode-editorCursor-foreground: #d4be98;
  --vscode-editorMultiCursor-primary\.foreground: #d4be98;
  --vscode-editorMultiCursor-secondary\.foreground: #d4be98;
  --vscode-editorWhitespace-foreground: #45403d;
  --vscode-editorLineNumber-foreground: #7c6f64;
  --vscode-editorIndentGuide-background: rgba(168, 153, 132, 0.13);
  --vscode-editorIndentGuide-activeBackground: rgba(168, 153, 132, 0.31);
  --vscode-editorIndentGuide-background1: rgba(168, 153, 132, 0.13);
  --vscode-editorIndentGuide-background2: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-background3: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-background4: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-background5: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-background6: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground1: rgba(168, 153, 132, 0.31);
  --vscode-editorIndentGuide-activeBackground2: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground3: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground4: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground5: rgba(0, 0, 0, 0);
  --vscode-editorIndentGuide-activeBackground6: rgba(0, 0, 0, 0);
  --vscode-editorActiveLineNumber-foreground: #c6c6c6;
  --vscode-editorLineNumber-activeForeground: #928374;
  --vscode-editorRuler-foreground: rgba(102, 92, 84, 0.63);
  --vscode-editorCodeLens-foreground: #7c6f64;
  --vscode-editorBracketMatch-background: rgba(124, 111, 100, 0.5);
  --vscode-editorBracketMatch-border: rgba(41, 40, 40, 0);
  --vscode-editorOverviewRuler-border: rgba(41, 40, 40, 0);
  --vscode-editorGutter-background: rgba(41, 40, 40, 0);
  --vscode-editorUnnecessaryCode-border: #292828;
  --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.5);
  --vscode-editorGhostText-foreground: #7c6f64;
  --vscode-editorGhostText-background: rgba(41, 40, 40, 0);
  --vscode-editorOverviewRuler-rangeHighlightForeground: #72966c;
  --vscode-editorOverviewRuler-errorForeground: #ea6962;
  --vscode-editorOverviewRuler-warningForeground: #d8a657;
  --vscode-editorOverviewRuler-infoForeground: #d3869b;
  --vscode-editorBracketHighlight-foreground1: #ea6962;
  --vscode-editorBracketHighlight-foreground2: #d8a657;
  --vscode-editorBracketHighlight-foreground3: #a9b665;
  --vscode-editorBracketHighlight-foreground4: #7daea3;
  --vscode-editorBracketHighlight-foreground5: #e78a4e;
  --vscode-editorBracketHighlight-foreground6: #d3869b;
  --vscode-editorBracketHighlight-unexpectedBracket\.foreground: #928374;
  --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
  --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
  --vscode-editorUnicodeHighlight-border: #c18f41;
  --vscode-editorUnicodeHighlight-background: rgba(193, 143, 65, 0);
  --vscode-diffEditor-move\.border: rgba(139, 139, 139, 0.61);
  --vscode-diffEditor-moveActive\.border: #ffa500;
  --vscode-diffEditor-unchangedRegionShadow: #000000;
  --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
  --vscode-actionBar-toggledBackground: rgba(69, 64, 61, 0);
  --vscode-symbolIcon-arrayForeground: #7daea3;
  --vscode-symbolIcon-booleanForeground: #d3869b;
  --vscode-symbolIcon-classForeground: #d8a657;
  --vscode-symbolIcon-colorForeground: #d4be98;
  --vscode-symbolIcon-constantForeground: #89b482;
  --vscode-symbolIcon-constructorForeground: #d3869b;
  --vscode-symbolIcon-enumeratorForeground: #d3869b;
  --vscode-symbolIcon-enumeratorMemberForeground: #89b482;
  --vscode-symbolIcon-eventForeground: #d8a657;
  --vscode-symbolIcon-fieldForeground: #d4be98;
  --vscode-symbolIcon-fileForeground: #d4be98;
  --vscode-symbolIcon-folderForeground: #d4be98;
  --vscode-symbolIcon-functionForeground: #a9b665;
  --vscode-symbolIcon-interfaceForeground: #d8a657;
  --vscode-symbolIcon-keyForeground: #a9b665;
  --vscode-symbolIcon-keywordForeground: #ea6962;
  --vscode-symbolIcon-methodForeground: #a9b665;
  --vscode-symbolIcon-moduleForeground: #d3869b;
  --vscode-symbolIcon-namespaceForeground: #d3869b;
  --vscode-symbolIcon-nullForeground: #89b482;
  --vscode-symbolIcon-numberForeground: #d3869b;
  --vscode-symbolIcon-objectForeground: #d3869b;
  --vscode-symbolIcon-operatorForeground: #e78a4e;
  --vscode-symbolIcon-packageForeground: #d3869b;
  --vscode-symbolIcon-propertyForeground: #89b482;
  --vscode-symbolIcon-referenceForeground: #7daea3;
  --vscode-symbolIcon-snippetForeground: #d4be98;
  --vscode-symbolIcon-stringForeground: #a9b665;
  --vscode-symbolIcon-structForeground: #d8a657;
  --vscode-symbolIcon-textForeground: #d4be98;
  --vscode-symbolIcon-typeParameterForeground: #89b482;
  --vscode-symbolIcon-unitForeground: #d4be98;
  --vscode-symbolIcon-variableForeground: #7daea3;
  --vscode-peekViewTitle-background: #3c3836;
  --vscode-peekViewTitleLabel-foreground: #a9b665;
  --vscode-peekViewTitleDescription-foreground: #c5b18d;
  --vscode-peekView-border: #3c3836;
  --vscode-peekViewResult-background: #32302f;
  --vscode-peekViewResult-lineForeground: #a89984;
  --vscode-peekViewResult-fileForeground: #d4be98;
  --vscode-peekViewResult-selectionBackground: rgba(114, 150, 108, 0.31);
  --vscode-peekViewResult-selectionForeground: #c5b18d;
  --vscode-peekViewEditor-background: #32302f;
  --vscode-peekViewEditorGutter-background: #32302f;
  --vscode-peekViewEditorStickyScroll-background: #32302f;
  --vscode-peekViewEditorStickyScrollGutter-background: #32302f;
  --vscode-peekViewResult-matchHighlightBackground: rgba(193, 143, 65, 0.31);
  --vscode-peekViewEditor-matchHighlightBackground: rgba(193, 143, 65, 0.31);
  --vscode-editor-foldBackground: rgba(69, 64, 61, 0.5);
  --vscode-editor-foldPlaceholderForeground: #808080;
  --vscode-editorGutter-foldingControlForeground: #89b482;
  --vscode-editorSuggestWidget-background: #383432;
  --vscode-editorSuggestWidget-border: #383432;
  --vscode-editorSuggestWidget-foreground: #d4be98;
  --vscode-editorSuggestWidget-selectedForeground: #d4be98;
  --vscode-editorSuggestWidget-selectedBackground: #45403d;
  --vscode-editorSuggestWidget-highlightForeground: #a9b665;
  --vscode-editorSuggestWidget-focusHighlightForeground: #a9b665;
  --vscode-editorSuggestWidgetStatus-foreground: rgba(212, 190, 152, 0.5);
  --vscode-inlineEdit-originalBackground: rgba(184, 86, 81, 0.05);
  --vscode-inlineEdit-modifiedBackground: rgba(114, 150, 108, 0.07);
  --vscode-inlineEdit-originalChangedLineBackground: rgba(184, 86, 81, 0.2);
  --vscode-inlineEdit-originalChangedTextBackground: rgba(184, 86, 81, 0.2);
  --vscode-inlineEdit-modifiedChangedLineBackground: rgba(155, 185, 85, 0.14);
  --vscode-inlineEdit-modifiedChangedTextBackground: rgba(114, 150, 108, 0.18);
  --vscode-inlineEdit-gutterIndicator\.primaryForeground: #292828;
  --vscode-inlineEdit-gutterIndicator\.primaryBorder: #a89984;
  --vscode-inlineEdit-gutterIndicator\.primaryBackground: rgba(168, 153, 132, 0.4);
  --vscode-inlineEdit-gutterIndicator\.secondaryForeground: #d4be98;
  --vscode-inlineEdit-gutterIndicator\.secondaryBorder: #3c3836;
  --vscode-inlineEdit-gutterIndicator\.secondaryBackground: #3c3836;
  --vscode-inlineEdit-gutterIndicator\.successfulForeground: #292828;
  --vscode-inlineEdit-gutterIndicator\.successfulBorder: #a89984;
  --vscode-inlineEdit-gutterIndicator\.successfulBackground: #a89984;
  --vscode-inlineEdit-gutterIndicator\.background: rgba(41, 40, 40, 0.5);
  --vscode-inlineEdit-originalBorder: rgba(184, 86, 81, 0.25);
  --vscode-inlineEdit-modifiedBorder: rgba(114, 150, 108, 0.25);
  --vscode-inlineEdit-tabWillAcceptModifiedBorder: rgba(114, 150, 108, 0.25);
  --vscode-inlineEdit-tabWillAcceptOriginalBorder: rgba(184, 86, 81, 0.25);
  --vscode-editorMarkerNavigationError-background: rgba(184, 86, 81, 0.5);
  --vscode-editorMarkerNavigationError-headerBackground: rgba(184, 86, 81, 0.05);
  --vscode-editorMarkerNavigationWarning-background: rgba(193, 143, 65, 0.5);
  --vscode-editorMarkerNavigationWarning-headerBackground: rgba(193, 143, 65, 0.05);
  --vscode-editorMarkerNavigationInfo-background: rgba(104, 148, 138, 0.5);
  --vscode-editorMarkerNavigationInfo-headerBackground: rgba(104, 148, 138, 0.05);
  --vscode-editorMarkerNavigation-background: #32302f;
  --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
  --vscode-editor-wordHighlightBackground: rgba(80, 73, 69, 0.34);
  --vscode-editor-wordHighlightStrongBackground: rgba(80, 73, 69, 0.69);
  --vscode-editor-wordHighlightTextBackground: rgba(80, 73, 69, 0.34);
  --vscode-editorOverviewRuler-wordHighlightForeground: #7c6f64;
  --vscode-editorOverviewRuler-wordHighlightStrongForeground: #7c6f64;
  --vscode-editorOverviewRuler-wordHighlightTextForeground: #72966c;
  --vscode-editorHoverWidget-highlightForeground: #a9b665;
  --vscode-editor-placeholder\.foreground: #7c6f64;
  --vscode-tab-activeBackground: #292828;
  --vscode-tab-unfocusedActiveBackground: #292828;
  --vscode-tab-inactiveBackground: #292828;
  --vscode-tab-unfocusedInactiveBackground: #292828;
  --vscode-tab-activeForeground: #d4be98;
  --vscode-tab-inactiveForeground: #7c6f64;
  --vscode-tab-unfocusedActiveForeground: #a89984;
  --vscode-tab-unfocusedInactiveForeground: #7c6f64;
  --vscode-tab-hoverBackground: #292828;
  --vscode-tab-unfocusedHoverBackground: rgba(41, 40, 40, 0.5);
  --vscode-tab-hoverForeground: #d4be98;
  --vscode-tab-unfocusedHoverForeground: #d4be98;
  --vscode-tab-border: #292828;
  --vscode-tab-lastPinnedBorder: #a89984;
  --vscode-tab-activeBorder: #a89984;
  --vscode-tab-unfocusedActiveBorder: #928374;
  --vscode-tab-selectedBackground: #292828;
  --vscode-tab-selectedForeground: #d4be98;
  --vscode-tab-dragAndDropBorder: #d4be98;
  --vscode-tab-activeModifiedBorder: #3399cc;
  --vscode-tab-inactiveModifiedBorder: rgba(51, 153, 204, 0.5);
  --vscode-tab-unfocusedActiveModifiedBorder: rgba(51, 153, 204, 0.5);
  --vscode-tab-unfocusedInactiveModifiedBorder: rgba(51, 153, 204, 0.25);
  --vscode-editorPane-background: #292828;
  --vscode-editorGroupHeader-tabsBackground: #292828;
  --vscode-editorGroupHeader-noTabsBackground: #292828;
  --vscode-editorGroup-border: #101010;
  --vscode-editorGroup-dropBackground: rgba(69, 64, 61, 0.38);
  --vscode-editorGroup-dropIntoPromptForeground: #d4be98;
  --vscode-editorGroup-dropIntoPromptBackground: #292828;
  --vscode-sideBySideEditor-horizontalBorder: #101010;
  --vscode-sideBySideEditor-verticalBorder: #101010;
  --vscode-banner-background: rgba(69, 64, 61, 0.38);
  --vscode-banner-foreground: #d4be98;
  --vscode-banner-iconForeground: #68948a;
  --vscode-statusBar-foreground: #a89984;
  --vscode-statusBar-noFolderForeground: #a89984;
  --vscode-statusBar-background: #292828;
  --vscode-statusBar-noFolderBackground: #292828;
  --vscode-statusBar-border: #292828;
  --vscode-statusBar-focusBorder: #a89984;
  --vscode-statusBar-noFolderBorder: #292828;
  --vscode-statusBarItem-activeBackground: rgba(60, 56, 54, 0.63);
  --vscode-statusBarItem-focusBorder: #a89984;
  --vscode-statusBarItem-hoverBackground: #3c3836;
  --vscode-statusBarItem-hoverForeground: #a89984;
  --vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
  --vscode-statusBarItem-prominentForeground: #d4be98;
  --vscode-statusBarItem-prominentBackground: #292828;
  --vscode-statusBarItem-prominentHoverForeground: #a89984;
  --vscode-statusBarItem-prominentHoverBackground: rgba(60, 56, 54, 0.63);
  --vscode-statusBarItem-errorBackground: #292828;
  --vscode-statusBarItem-errorForeground: #ea6962;
  --vscode-statusBarItem-errorHoverForeground: #a89984;
  --vscode-statusBarItem-errorHoverBackground: #3c3836;
  --vscode-statusBarItem-warningBackground: #292828;
  --vscode-statusBarItem-warningForeground: #d8a657;
  --vscode-statusBarItem-warningHoverForeground: #a89984;
  --vscode-statusBarItem-warningHoverBackground: #3c3836;
  --vscode-activityBar-background: #292828;
  --vscode-activityBar-foreground: #a89984;
  --vscode-activityBar-inactiveForeground: #7c6f64;
  --vscode-activityBar-border: #292828;
  --vscode-activityBar-activeBorder: #928374;
  --vscode-activityBar-activeFocusBorder: #928374;
  --vscode-activityBar-dropBorder: #a89984;
  --vscode-activityBarBadge-background: #a89984;
  --vscode-activityBarBadge-foreground: #292828;
  --vscode-activityBarTop-foreground: #e7e7e7;
  --vscode-activityBarTop-activeBorder: #e7e7e7;
  --vscode-activityBarTop-inactiveForeground: rgba(231, 231, 231, 0.6);
  --vscode-activityBarTop-dropBorder: #e7e7e7;
  --vscode-panel-background: #292828;
  --vscode-panel-border: #292828;
  --vscode-panelTitle-activeForeground: #a89984;
  --vscode-panelTitle-inactiveForeground: #7c6f64;
  --vscode-panelTitle-activeBorder: #928374;
  --vscode-panelTitleBadge-background: #a89984;
  --vscode-panelTitleBadge-foreground: #292828;
  --vscode-panelInput-border: #45403d;
  --vscode-panel-dropBorder: #a89984;
  --vscode-panelSection-dropBackground: rgba(69, 64, 61, 0.38);
  --vscode-panelSectionHeader-background: #292828;
  --vscode-panelSection-border: #101010;
  --vscode-panelStickyScroll-background: #292828;
  --vscode-panelStickyScroll-shadow: rgba(0, 0, 0, 0.44);
  --vscode-profileBadge-background: #4d4d4d;
  --vscode-profileBadge-foreground: #ffffff;
  --vscode-statusBarItem-remoteBackground: #292828;
  --vscode-statusBarItem-remoteForeground: #a89984;
  --vscode-statusBarItem-remoteHoverForeground: #a89984;
  --vscode-statusBarItem-remoteHoverBackground: #3c3836;
  --vscode-statusBarItem-offlineBackground: #6c1717;
  --vscode-statusBarItem-offlineForeground: #a89984;
  --vscode-statusBarItem-offlineHoverForeground: #a89984;
  --vscode-statusBarItem-offlineHoverBackground: #3c3836;
  --vscode-extensionBadge-remoteBackground: #a89984;
  --vscode-extensionBadge-remoteForeground: #292828;
  --vscode-sideBar-background: #292828;
  --vscode-sideBar-foreground: #928374;
  --vscode-sideBarTitle-background: #292828;
  --vscode-sideBarTitle-foreground: #a89984;
  --vscode-sideBar-dropBackground: rgba(69, 64, 61, 0.38);
  --vscode-sideBarSectionHeader-background: rgba(41, 40, 40, 0);
  --vscode-sideBarSectionHeader-foreground: #a89984;
  --vscode-sideBarStickyScroll-background: #292828;
  --vscode-sideBarStickyScroll-shadow: rgba(0, 0, 0, 0.44);
  --vscode-titleBar-activeForeground: #a89984;
  --vscode-titleBar-inactiveForeground: #7c6f64;
  --vscode-titleBar-activeBackground: #292828;
  --vscode-titleBar-inactiveBackground: #292828;
  --vscode-titleBar-border: #292828;
  --vscode-menubar-selectionForeground: #a89984;
  --vscode-menubar-selectionBackground: #292828;
  --vscode-menubar-selectionBorder: #292828;
  --vscode-commandCenter-foreground: #a89984;
  --vscode-commandCenter-activeForeground: #a89984;
  --vscode-commandCenter-inactiveForeground: #7c6f64;
  --vscode-commandCenter-background: rgba(255, 255, 255, 0.05);
  --vscode-commandCenter-activeBackground: rgba(255, 255, 255, 0.08);
  --vscode-commandCenter-border: rgba(168, 153, 132, 0.2);
  --vscode-commandCenter-activeBorder: rgba(168, 153, 132, 0.3);
  --vscode-commandCenter-inactiveBorder: rgba(124, 111, 100, 0.25);
  --vscode-notifications-foreground: #d4be98;
  --vscode-notifications-background: #292828;
  --vscode-notificationLink-foreground: #a9b665;
  --vscode-notificationCenterHeader-foreground: #ddc7a1;
  --vscode-notificationCenterHeader-background: #504945;
  --vscode-notifications-border: #504945;
  --vscode-notificationsErrorIcon-foreground: #ea6962;
  --vscode-notificationsWarningIcon-foreground: #d8a657;
  --vscode-notificationsInfoIcon-foreground: #7daea3;
  --vscode-editorGutter-modifiedBackground: rgba(104, 148, 138, 0.63);
  --vscode-editorGutter-modifiedSecondaryBackground: rgba(52, 74, 69, 0.63);
  --vscode-editorGutter-addedBackground: rgba(143, 154, 82, 0.63);
  --vscode-editorGutter-addedSecondaryBackground: rgba(72, 77, 41, 0.63);
  --vscode-editorGutter-deletedBackground: rgba(184, 86, 81, 0.63);
  --vscode-editorGutter-deletedSecondaryBackground: rgba(113, 49, 46, 0.63);
  --vscode-minimapGutter-modifiedBackground: rgba(104, 148, 138, 0.63);
  --vscode-minimapGutter-addedBackground: rgba(143, 154, 82, 0.63);
  --vscode-minimapGutter-deletedBackground: rgba(184, 86, 81, 0.63);
  --vscode-editorOverviewRuler-modifiedForeground: rgba(104, 148, 138, 0.63);
  --vscode-editorOverviewRuler-addedForeground: rgba(143, 154, 82, 0.63);
  --vscode-editorOverviewRuler-deletedForeground: rgba(184, 86, 81, 0.63);
  --vscode-editorGutter-itemGlyphForeground: #d4be98;
  --vscode-editorGutter-itemBackground: #302e2d;
  --vscode-terminal-foreground: #d4be98;
  --vscode-terminalCursor-foreground: #d4be98;
  --vscode-terminal-selectionBackground: rgba(80, 73, 69, 0.69);
  --vscode-terminal-inactiveSelectionBackground: rgba(80, 73, 69, 0.34);
  --vscode-terminalCommandDecoration-defaultBackground: rgba(255, 255, 255, 0.25);
  --vscode-terminalCommandDecoration-successBackground: #1b81a8;
  --vscode-terminalCommandDecoration-errorBackground: #f14c4c;
  --vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
  --vscode-terminal-border: #292828;
  --vscode-terminalOverviewRuler-border: rgba(41, 40, 40, 0);
  --vscode-terminal-findMatchBackground: rgba(189, 111, 62, 0.25);
  --vscode-terminal-hoverHighlightBackground: rgba(80, 73, 69, 0.34);
  --vscode-terminal-findMatchHighlightBackground: rgba(143, 154, 82, 0.25);
  --vscode-terminalOverviewRuler-findMatchForeground: #72966c;
  --vscode-terminal-dropBackground: rgba(69, 64, 61, 0.38);
  --vscode-terminal-tab\.activeBorder: #a89984;
  --vscode-terminal-initialHintForeground: rgba(255, 255, 255, 0.34);
  --vscode-scmGraph-historyItemRefColor: #7daea3;
  --vscode-scmGraph-historyItemRemoteRefColor: #d3869b;
  --vscode-scmGraph-historyItemBaseRefColor: #ea5c00;
  --vscode-scmGraph-historyItemHoverDefaultLabelForeground: #a89984;
  --vscode-scmGraph-historyItemHoverDefaultLabelBackground: #a89984;
  --vscode-scmGraph-historyItemHoverLabelForeground: #292828;
  --vscode-scmGraph-historyItemHoverAdditionsForeground: #81b88b;
  --vscode-scmGraph-historyItemHoverDeletionsForeground: #c74e39;
  --vscode-scmGraph-foreground1: #ffb000;
  --vscode-scmGraph-foreground2: #dc267f;
  --vscode-scmGraph-foreground3: #994f00;
  --vscode-scmGraph-foreground4: #40b0a6;
  --vscode-scmGraph-foreground5: #b66dff;
  --vscode-commentsView-resolvedIcon: rgba(204, 204, 204, 0.5);
  --vscode-commentsView-unresolvedIcon: rgba(69, 64, 61, 0);
  --vscode-editorCommentsWidget-replyInputBackground: #3c3836;
  --vscode-editorCommentsWidget-resolvedBorder: rgba(204, 204, 204, 0.5);
  --vscode-editorCommentsWidget-unresolvedBorder: rgba(69, 64, 61, 0);
  --vscode-editorCommentsWidget-rangeBackground: rgba(69, 64, 61, 0);
  --vscode-editorCommentsWidget-rangeActiveBackground: rgba(69, 64, 61, 0);
  --vscode-editorGutter-commentRangeForeground: #7c6f64;
  --vscode-editorOverviewRuler-commentForeground: #7c6f64;
  --vscode-editorOverviewRuler-commentUnresolvedForeground: #7c6f64;
  --vscode-editorGutter-commentGlyphForeground: #d4be98;
  --vscode-editorGutter-commentUnresolvedGlyphForeground: #d4be98;
  --vscode-ports-iconRunningProcessForeground: #e78a4e;
  --vscode-editorWatermark-foreground: rgba(212, 190, 152, 0.6);
  --vscode-settings-headerForeground: #a89984;
  --vscode-settings-settingsHeaderHoverForeground: rgba(168, 153, 132, 0.7);
  --vscode-settings-modifiedItemIndicator: #7c6f64;
  --vscode-settings-headerBorder: #292828;
  --vscode-settings-sashBorder: #292828;
  --vscode-settings-dropdownBackground: #292828;
  --vscode-settings-dropdownForeground: #89b482;
  --vscode-settings-dropdownBorder: #5a524c;
  --vscode-settings-dropdownListBorder: #7c6f64;
  --vscode-settings-checkboxBackground: #292828;
  --vscode-settings-checkboxForeground: #e78a4e;
  --vscode-settings-checkboxBorder: #5a524c;
  --vscode-settings-textInputBackground: #292828;
  --vscode-settings-textInputForeground: #7daea3;
  --vscode-settings-textInputBorder: #5a524c;
  --vscode-settings-numberInputBackground: #292828;
  --vscode-settings-numberInputForeground: #d3869b;
  --vscode-settings-numberInputBorder: #5a524c;
  --vscode-settings-focusedRowBackground: #32302f;
  --vscode-settings-rowHoverBackground: #32302f;
  --vscode-settings-focusedRowBorder: rgba(69, 64, 61, 0);
  --vscode-keybindingTable-headerBackground: #383432;
  --vscode-keybindingTable-rowsBackground: #32302f;
  --vscode-extensionButton-background: #a89984;
  --vscode-extensionButton-foreground: #292828;
  --vscode-extensionButton-hoverBackground: #928374;
  --vscode-extensionButton-separator: rgba(41, 40, 40, 0.4);
  --vscode-extensionButton-prominentBackground: #a89984;
  --vscode-extensionButton-prominentForeground: #292828;
  --vscode-extensionButton-prominentHoverBackground: #928374;
  --vscode-debugToolBar-background: #292828;
  --vscode-debugIcon-startForeground: #89b482;
  --vscode-inlineChat-foreground: #d4be98;
  --vscode-inlineChat-background: #292828;
  --vscode-inlineChat-border: #7c6f64;
  --vscode-inlineChat-shadow: rgba(0, 0, 0, 0.44);
  --vscode-inlineChatInput-border: #7c6f64;
  --vscode-inlineChatInput-focusBorder: rgba(69, 64, 61, 0);
  --vscode-inlineChatInput-placeholderForeground: #7c6f64;
  --vscode-inlineChatInput-background: rgba(41, 40, 40, 0);
  --vscode-inlineChatDiff-inserted: rgba(114, 150, 108, 0.13);
  --vscode-editorOverviewRuler-inlineChatInserted: rgba(114, 150, 108, 0.15);
  --vscode-editorMinimap-inlineChatInserted: rgba(114, 150, 108, 0.15);
  --vscode-inlineChatDiff-removed: rgba(184, 86, 81, 0.13);
  --vscode-editorOverviewRuler-inlineChatRemoved: rgba(184, 86, 81, 0.15);
  --vscode-extensionIcon-verifiedForeground: #a9b665;
  --vscode-extensionIcon-starForeground: #89b482;
  --vscode-extensionIcon-preReleaseForeground: #e78a4e;
  --vscode-extensionIcon-sponsorForeground: #d758b3;
  --vscode-extensionIcon-privateForeground: rgba(255, 255, 255, 0.38);
  --vscode-chat-requestBorder: rgba(255, 255, 255, 0.1);
  --vscode-chat-requestBackground: rgba(41, 40, 40, 0.62);
  --vscode-chat-slashCommandBackground: rgba(38, 71, 120, 0.4);
  --vscode-chat-slashCommandForeground: #85b6ff;
  --vscode-chat-avatarBackground: #1f1f1f;
  --vscode-chat-avatarForeground: #a89984;
  --vscode-chat-editedFileForeground: #e2c08d;
  --vscode-chat-requestCodeBorder: rgba(0, 73, 114, 0.72);
  --vscode-chat-requestBubbleBackground: rgba(80, 73, 69, 0.21);
  --vscode-chat-requestBubbleHoverBackground: rgba(80, 73, 69, 0.69);
  --vscode-chat-checkpointSeparator: #585858;
  --vscode-chat-linesAddedForeground: #54b054;
  --vscode-chat-linesRemovedForeground: #fc6a6a;
  --vscode-notebook-cellBorderColor: #5a524c;
  --vscode-notebook-focusedEditorBorder: #5a524c;
  --vscode-notebookStatusSuccessIcon-foreground: #a9b665;
  --vscode-notebookEditorOverviewRuler-runningCellForeground: #89b482;
  --vscode-notebookStatusErrorIcon-foreground: #ea6962;
  --vscode-notebookStatusRunningIcon-foreground: #7daea3;
  --vscode-notebook-outputContainerBackgroundColor: #32302f;
  --vscode-notebook-cellToolbarSeparator: #5a524c;
  --vscode-notebook-focusedCellBackground: #292828;
  --vscode-notebook-selectedCellBackground: rgba(69, 64, 61, 0.28);
  --vscode-notebook-cellHoverBackground: #292828;
  --vscode-notebook-selectedCellBorder: #5a524c;
  --vscode-notebook-focusedCellBorder: #5a524c;
  --vscode-notebook-inactiveFocusedCellBorder: #5a524c;
  --vscode-notebook-cellStatusBarItemHoverBackground: #3c3836;
  --vscode-notebook-cellInsertionIndicator: rgba(69, 64, 61, 0);
  --vscode-notebookScrollbarSlider-background: rgba(124, 111, 100, 0.5);
  --vscode-notebookScrollbarSlider-hoverBackground: #7c6f64;
  --vscode-notebookScrollbarSlider-activeBackground: #a89984;
  --vscode-notebook-symbolHighlightBackground: rgba(255, 255, 255, 0.04);
  --vscode-notebook-cellEditorBackground: #292828;
  --vscode-notebook-editorBackground: #292828;
  --vscode-debugExceptionWidget-border: #a31515;
  --vscode-debugExceptionWidget-background: #420b0d;
  --vscode-editor-inlineValuesForeground: rgba(255, 255, 255, 0.5);
  --vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
  --vscode-debugIcon-breakpointForeground: #ea6962;
  --vscode-debugIcon-breakpointDisabledForeground: #b85651;
  --vscode-debugIcon-breakpointUnverifiedForeground: #a89984;
  --vscode-debugIcon-breakpointCurrentStackframeForeground: #7daea3;
  --vscode-debugIcon-breakpointStackframeForeground: #ea6962;
  --vscode-editor-stackFrameHighlightBackground: rgba(255, 255, 0, 0.2);
  --vscode-editor-focusedStackFrameHighlightBackground: rgba(122, 189, 122, 0.3);
  --vscode-multiDiffEditor-headerBackground: #262626;
  --vscode-multiDiffEditor-background: #292828;
  --vscode-minimap-chatEditHighlight: rgba(41, 40, 40, 0.6);
  --vscode-gauge-foreground: #7daea3;
  --vscode-gauge-background: rgba(125, 174, 163, 0.3);
  --vscode-gauge-warningForeground: #d8a657;
  --vscode-gauge-warningBackground: rgba(216, 166, 87, 0.3);
  --vscode-gauge-errorForeground: #ea6962;
  --vscode-gauge-errorBackground: rgba(234, 105, 98, 0.3);
  --vscode-mcpIcon-starForeground: #ff8e00;
  --vscode-interactive-activeCodeBorder: #3c3836;
  --vscode-interactive-inactiveCodeBorder: rgba(69, 64, 61, 0.28);
  --vscode-testing-iconFailed: #ea6962;
  --vscode-testing-iconErrored: #ea6962;
  --vscode-testing-iconPassed: #89b482;
  --vscode-testing-runAction: #89b482;
  --vscode-testing-iconQueued: #7daea3;
  --vscode-testing-iconUnset: #d8a657;
  --vscode-testing-iconSkipped: #d3869b;
  --vscode-testing-peekBorder: #b85651;
  --vscode-testing-messagePeekBorder: #68948a;
  --vscode-testing-peekHeaderBackground: rgba(184, 86, 81, 0.1);
  --vscode-testing-messagePeekHeaderBackground: rgba(104, 148, 138, 0.1);
  --vscode-testing-coveredBackground: rgba(114, 150, 108, 0.25);
  --vscode-testing-coveredBorder: rgba(114, 150, 108, 0.19);
  --vscode-testing-coveredGutterBackground: rgba(114, 150, 108, 0.15);
  --vscode-testing-uncoveredBranchBackground: #703f3c;
  --vscode-testing-uncoveredBackground: rgba(184, 86, 81, 0.25);
  --vscode-testing-uncoveredBorder: rgba(184, 86, 81, 0.19);
  --vscode-testing-uncoveredGutterBackground: rgba(184, 86, 81, 0.38);
  --vscode-testing-coverCountBadgeBackground: #a89984;
  --vscode-testing-coverCountBadgeForeground: #292828;
  --vscode-testing-message\.error\.badgeBackground: #f14c4c;
  --vscode-testing-message\.error\.badgeBorder: #f14c4c;
  --vscode-testing-message\.error\.badgeForeground: #000000;
  --vscode-testing-message\.info\.decorationForeground: rgba(212, 190, 152, 0.5);
  --vscode-testing-iconErrored\.retired: rgba(234, 105, 98, 0.7);
  --vscode-testing-iconFailed\.retired: rgba(234, 105, 98, 0.7);
  --vscode-testing-iconPassed\.retired: rgba(137, 180, 130, 0.7);
  --vscode-testing-iconQueued\.retired: rgba(125, 174, 163, 0.7);
  --vscode-testing-iconUnset\.retired: rgba(216, 166, 87, 0.7);
  --vscode-testing-iconSkipped\.retired: rgba(211, 134, 155, 0.7);
  --vscode-searchEditor-textInputBorder: #45403d;
  --vscode-statusBar-debuggingBackground: #292828;
  --vscode-statusBar-debuggingForeground: #e78a4e;
  --vscode-statusBar-debuggingBorder: #292828;
  --vscode-commandCenter-debuggingBackground: rgba(41, 40, 40, 0.26);
  --vscode-debugTokenExpression-name: #7daea3;
  --vscode-debugTokenExpression-type: #4a90e2;
  --vscode-debugTokenExpression-value: #a9b665;
  --vscode-debugTokenExpression-string: #d8a657;
  --vscode-debugTokenExpression-boolean: #d3869b;
  --vscode-debugTokenExpression-number: #d3869b;
  --vscode-debugTokenExpression-error: #ea6962;
  --vscode-debugView-exceptionLabelForeground: #a89984;
  --vscode-debugView-exceptionLabelBackground: #6c2022;
  --vscode-debugView-stateLabelForeground: #a89984;
  --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
  --vscode-debugView-valueChangedHighlight: #569cd6;
  --vscode-debugConsole-infoForeground: #a9b665;
  --vscode-debugConsole-warningForeground: #d8a657;
  --vscode-debugConsole-errorForeground: #ea6962;
  --vscode-debugConsole-sourceForeground: #d3869b;
  --vscode-debugConsoleInputIcon-foreground: #89b482;
  --vscode-debugIcon-pauseForeground: #d8a657;
  --vscode-debugIcon-stopForeground: #ea6962;
  --vscode-debugIcon-disconnectForeground: #d3869b;
  --vscode-debugIcon-restartForeground: #89b482;
  --vscode-debugIcon-stepOverForeground: #7daea3;
  --vscode-debugIcon-stepIntoForeground: #7daea3;
  --vscode-debugIcon-stepOutForeground: #7daea3;
  --vscode-debugIcon-continueForeground: #7daea3;
  --vscode-debugIcon-stepBackForeground: #7daea3;
  --vscode-mergeEditor-change\.background: rgba(155, 185, 85, 0.2);
  --vscode-mergeEditor-change\.word\.background: rgba(156, 204, 44, 0.2);
  --vscode-mergeEditor-changeBase\.background: #4b1818;
  --vscode-mergeEditor-changeBase\.word\.background: #6f1313;
  --vscode-mergeEditor-conflict\.unhandledUnfocused\.border: rgba(255, 166, 0, 0.48);
  --vscode-mergeEditor-conflict\.unhandledFocused\.border: #ffa600;
  --vscode-mergeEditor-conflict\.handledUnfocused\.border: rgba(134, 134, 134, 0.29);
  --vscode-mergeEditor-conflict\.handledFocused\.border: rgba(193, 193, 193, 0.8);
  --vscode-mergeEditor-conflict\.handled\.minimapOverViewRuler: rgba(173, 172, 168, 0.93);
  --vscode-mergeEditor-conflict\.unhandled\.minimapOverViewRuler: #fcba03;
  --vscode-mergeEditor-conflictingLines\.background: rgba(255, 234, 0, 0.28);
  --vscode-mergeEditor-conflict\.input1\.background: rgba(104, 148, 138, 0.2);
  --vscode-mergeEditor-conflict\.input2\.background: rgba(114, 150, 108, 0.2);
  --vscode-terminal-ansiBlack: #32302f;
  --vscode-terminal-ansiRed: #ea6962;
  --vscode-terminal-ansiGreen: #a9b665;
  --vscode-terminal-ansiYellow: #d8a657;
  --vscode-terminal-ansiBlue: #7daea3;
  --vscode-terminal-ansiMagenta: #d3869b;
  --vscode-terminal-ansiCyan: #89b482;
  --vscode-terminal-ansiWhite: #d4be98;
  --vscode-terminal-ansiBrightBlack: #928374;
  --vscode-terminal-ansiBrightRed: #ea6962;
  --vscode-terminal-ansiBrightGreen: #a9b665;
  --vscode-terminal-ansiBrightYellow: #d8a657;
  --vscode-terminal-ansiBrightBlue: #7daea3;
  --vscode-terminal-ansiBrightMagenta: #d3869b;
  --vscode-terminal-ansiBrightCyan: #89b482;
  --vscode-terminal-ansiBrightWhite: #ddc7a1;
  --vscode-simpleFindWidget-sashBorder: #454545;
  --vscode-terminalStickyScrollHover-background: #2a2d2e;
  --vscode-terminalCommandGuide-foreground: rgba(69, 64, 61, 0.28);
  --vscode-terminalSymbolIcon-flagForeground: #d3869b;
  --vscode-terminalSymbolIcon-aliasForeground: #a9b665;
  --vscode-terminalSymbolIcon-optionValueForeground: #89b482;
  --vscode-terminalSymbolIcon-methodForeground: #a9b665;
  --vscode-terminalSymbolIcon-argumentForeground: #7daea3;
  --vscode-terminalSymbolIcon-optionForeground: #d3869b;
  --vscode-terminalSymbolIcon-fileForeground: #d4be98;
  --vscode-terminalSymbolIcon-folderForeground: #d4be98;
  --vscode-terminalSymbolIcon-commitForeground: #d4be98;
  --vscode-terminalSymbolIcon-branchForeground: #d4be98;
  --vscode-terminalSymbolIcon-tagForeground: #d4be98;
  --vscode-terminalSymbolIcon-stashForeground: #d4be98;
  --vscode-terminalSymbolIcon-remoteForeground: #d4be98;
  --vscode-terminalSymbolIcon-pullRequestForeground: #d4be98;
  --vscode-terminalSymbolIcon-pullRequestDoneForeground: #d4be98;
  --vscode-terminalSymbolIcon-symbolicLinkFileForeground: #d4be98;
  --vscode-terminalSymbolIcon-symbolicLinkFolderForeground: #d4be98;
  --vscode-welcomePage-tileBackground: #292828;
  --vscode-welcomePage-tileHoverBackground: #32302f;
  --vscode-welcomePage-tileBorder: rgba(255, 255, 255, 0.1);
  --vscode-welcomePage-progress\.background: rgba(41, 40, 40, 0);
  --vscode-welcomePage-progress\.foreground: #a9b665;
  --vscode-walkthrough-stepTitle\.foreground: #ffffff;
  --vscode-walkThrough-embeddedEditorBackground: #1c1c1c;
  --vscode-profiles-sashBorder: #292828;
  --vscode-gitDecoration-addedResourceForeground: rgba(169, 182, 101, 0.63);
  --vscode-gitDecoration-modifiedResourceForeground: rgba(125, 174, 163, 0.63);
  --vscode-gitDecoration-deletedResourceForeground: rgba(234, 105, 98, 0.63);
  --vscode-gitDecoration-renamedResourceForeground: #73c991;
  --vscode-gitDecoration-untrackedResourceForeground: rgba(216, 166, 87, 0.63);
  --vscode-gitDecoration-ignoredResourceForeground: #5a524c;
  --vscode-gitDecoration-stageModifiedResourceForeground: rgba(137, 180, 130, 0.63);
  --vscode-gitDecoration-stageDeletedResourceForeground: rgba(137, 180, 130, 0.63);
  --vscode-gitDecoration-conflictingResourceForeground: rgba(211, 134, 155, 0.63);
  --vscode-gitDecoration-submoduleResourceForeground: rgba(231, 138, 78, 0.63);
  --vscode-git-blame\.editorDecorationForeground: #7c6f64;
  --vscode-errorLens-errorBackground: rgba(228, 84, 84, 0.11);
  --vscode-errorLens-errorMessageBackground: rgba(228, 84, 84, 0.1);
  --vscode-errorLens-errorRangeBackground: rgba(228, 84, 84, 0.1);
  --vscode-errorLens-errorBackgroundLight: rgba(228, 84, 84, 0.13);
  --vscode-errorLens-errorForeground: #ff6464;
  --vscode-errorLens-errorForegroundLight: #e45454;
  --vscode-errorLens-warningBackground: rgba(255, 148, 47, 0.11);
  --vscode-errorLens-warningMessageBackground: rgba(255, 148, 47, 0.1);
  --vscode-errorLens-warningRangeBackground: rgba(255, 148, 47, 0.1);
  --vscode-errorLens-warningBackgroundLight: rgba(255, 148, 47, 0.13);
  --vscode-errorLens-warningForeground: #fa973a;
  --vscode-errorLens-warningForegroundLight: #ff942f;
  --vscode-errorLens-infoBackground: rgba(0, 183, 228, 0.13);
  --vscode-errorLens-infoMessageBackground: rgba(0, 183, 228, 0.1);
  --vscode-errorLens-infoRangeBackground: rgba(0, 183, 228, 0.1);
  --vscode-errorLens-infoBackgroundLight: rgba(0, 183, 228, 0.13);
  --vscode-errorLens-infoForeground: #00b7e4;
  --vscode-errorLens-infoForegroundLight: #00b7e4;
  --vscode-errorLens-hintBackground: rgba(23, 162, 162, 0.13);
  --vscode-errorLens-hintMessageBackground: rgba(23, 162, 162, 0.1);
  --vscode-errorLens-hintRangeBackground: rgba(23, 162, 162, 0.1);
  --vscode-errorLens-hintBackgroundLight: rgba(23, 162, 162, 0.13);
  --vscode-errorLens-hintForeground: #2faf64;
  --vscode-errorLens-hintForegroundLight: #2faf64;
  --vscode-errorLens-statusBarIconErrorForeground: #ff6464;
  --vscode-errorLens-statusBarIconWarningForeground: #fa973a;
  --vscode-errorLens-statusBarErrorForeground: #ff6464;
  --vscode-errorLens-statusBarWarningForeground: #fa973a;
  --vscode-errorLens-statusBarInfoForeground: #00b7e4;
  --vscode-errorLens-statusBarHintForeground: #2faf64;
  --vscode-editor-font-feature-settings: "liga" off, "calt" off;
}
*/

* {
  box-sizing: border-box;
}

.navbar {
  border-bottom: 1px solid var(--vscode-input-border);
}

.handle {
  width: 5px;
  background: rgba(255, 255, 255, 0.03);
}

.editor {
  height: 100vh;
}

.preview-panel {
  display: flex;

  width: 100%;
  height: 100%;
}

.preview {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.preview-container {
  width: 65%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.sidepanel {
  display: flex;
  gap: 16px;
  padding: 16px;
  flex-direction: column;
}

.named-option {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.named-option > * {
  width: 100%;
}

.button-icon {
  margin-right: 8px;
}

.component-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.component {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
}

.component-header {
  display: flex;
  gap: 8px;
}

.component-header :first-child {
  flex: 1;
}

.component:hover,
.component:has(:focus) {
  background: var(--vscode-settings-rowHoverBackground);
}

.component > * {
  width: 100%;
}

.component-parse-error {
  padding: 8px;
  background: var(--vscode-inputValidation-errorBackground);
  border: 1px solid var(--vscode-inputValidation-errorBorder);
}
